/.dj
/mysite/polls/__pycache__
/mysite/mysite/__pycache__
/tetingl/instance
/tetingl/migrations
/tetingl/__pycache__
/flaskcatapp/__pycache__
/flaskcatapp/instance
/flaskcatapp/migrations
/mysite/polls/migrations